nav{
    height: 70px;
    position: sticky;
    z-index: 11111111111111;
}
nav .containers{
    padding: 10px 40px
}
nav.scrolled{
    background-color: var(--back-weight-color);
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    height: 70px;
    transition: all 1s;
    /* padding-top: 1rem */
}
.nav-parts{
    height:100%;
}

.nav_elements ul li:not(:last-child){
    margin-right: 60px;
} 
.nav_elements ul li a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-text-color);
    cursor: pointer;
}
.nav_elements ul li a.active{
    color: var(--purple-text-color)!important;
    font-weight: 500;
    position: relative;
}
.nav_elements ul li a.active::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--purple-text-color);   
}

nav.scrolled .nav_elements ul li a{
    cursor: pointer;
}

.nav_elements button.main-button{
    margin-top: 0;
    margin-bottom: 0;
}

.nav-parts .icons ul li{
    margin: 0 0.5rem ;
}
.nav-parts .icons ul li svg{
    color: var(--purple-text-color);
}
@media (max-width: 1024px) {
    .humberger-btn{
        cursor: pointer;
    }
    nav.scrolled .nav_elements{
        background-color: var(--back-weight-color); 
        overflow: scroll;  
    }
    .nav_elements{
        position: absolute;
        left: 0;
        top: 0px;
        bottom: 0;
        background-color:var(--back-weight-color);
        width: 0;
        overflow: hidden;
        opacity: 1;
        height: 0;
        opacity: 0;
        overflow: scroll;
        transition: all .4s ease-in-out;
    }

    .nav_elements.active{
        width: 100vw;
        height: 100vh;
        transition: width .4s ease-in-out;
        opacity: 1;

    }
    .nav_elements ul.nav-items{
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem 3rem;
        align-items: center;
    }
    .nav_elements ul.nav-items li{
        margin-right: unset;
        width: fit-content;
        width: 100%;
        margin: 22px auto 0;
        text-align: left;
    }
    .nav_elements ul.nav-items li a{
        display: inline-block;
    }
    .nav_elements button.main-button{
        margin: 22px auto 0;
    }
    .nav_elements ul.nav-items li:not(:last-child){
       border-bottom: 1px solid var(--purple-text-color);
       padding-bottom:4px;
    } 
    .nav_elements ul li a.active::after{
        display: none;
    }
    .nav_elements button{
        width: 80vw;
        margin: 1rem 2rem;
        position: absolute;
        bottom: 0;
    }
    nav .containers{
        padding: 10px 1rem
    }
}