.card{}

.card .card_about button{
    background-color: var();
    width: 252px;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    padding: .6rem;
    /* border: 2px solid var(--back-secondary-color); */
    background-color: var(--back-beji-color);
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--black-text-color);
}

.card .card_about button:hover{
    background-color: var(--white-text-color);
    /* color: var(--white-text-color); */
    border: 2px solid var(--back-beji-color);
}


.cardStars svg{
    font-size: .8rem;
    margin: 0 0.1rem;
}
.cardStars svg{
    color: rgb(87, 87, 87);
}

.cardStars svg.checked{
color: rgb(249, 224, 7);
}