/* 787474 */
.checkout .checkInput{
    background-color: transparent!important;
    border: 1px solid #787474;
}
.checkout .checkInput:focus-visible{
    outline:  none;
    border:2px solid var(--purple-text-color);
    /* outline-color: var(--purple-text-color);
    outline-width: 2px; */
}
.contactPart .Emailpart p>a{
color: var(--purple-text-color);
text-transform: capitalize;
}
.contactPart .Emailpart p>a:hover{
text-decoration: underline;
}

.returnCart svg{
    display: inline;
    margin-right: 10px;
}
.checkout .contactPart .logo-part{
margin: 1rem auto 4rem;
max-width: 660px;
}

.totalProduct_part .productONCart .PcartImg::after{
    content: attr(notiffi);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--back-secondary-color);
    padding: 3px 0px;
    color: var(--white-text-color);
    text-align: center;
}
.totalAndsub .subtotal,
.totalAndsub .total{
    border-top: 1px solid #787474;
}

@media (max-width:768px){
    .checkout .contactPart .logo-part{
        width: fit-content;
        } 
}