header{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    background-image: url(../../assets/img/header.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .header-text-box {
    top: 30vh;
    backdrop-filter: blur(3px);
    padding: 0 10px;
}

header .header-text-box  button{
padding: 1rem 4rem;
}

@media (max-width: 768px){
    header .header-text-box {
      top: 10vh;
      backdrop-filter: blur(3px);
    }
}
