.social_Icons svg{
    color: var(--purple-text-color);
    font-size: 1.5rem;
    margin: 0 .5rem;
    opacity: .8;
}
.social_Icons a:hover svg{
   opacity: 1;
}

footer .listsPart .lists li.footerListHover{
    width: fit-content;
    position: relative;
}

footer .listsPart .lists li.footerListHover::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--back-secondary-color);
    display: none;
}

footer .listsPart .lists li.footerListHover:hover::after{
display: block;
}
footer .listsPart .lists li.footerListHover:hover{
    color: var(--back-secondary-color);
    font-weight: 600;
}